// backgound color
$bg-primary: #10101a;
$bg-secondary: #0c0c14;
$bg-green: rgb(47, 191, 113);

// text color
$white: #ffffff;
$text-1: #0b0b13;
$text-2: #555555;

// font-weight
$regular: 400;
$bold: 700;

// height
$h-header: 70px;

// z-index
$z-index-3x: 8;
$z-index-2x: 7;
$z-index-x: 6;
$z-index-primary: 5;
$z-index-second: 2;
$z-index-overall: 9999;
