.container {
  color: $white;
  position: relative;
  z-index: 1;
  @include flex-space();
  flex-wrap: wrap;
  &.lightMode {
    color: $text-1;
  }
}

.decor {
  width: 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: -20vh;
    top: -20vh;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    background: $text-1;
  }
}

.decorLight {
  width: 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: -20vh;
    top: -20vh;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    background: $bg-gray;
  }
}

.textBox {
  padding: 40px 0;
  max-width: 450px;
  h1 {
    @include fz(70);
    font-weight: $bold;
    line-height: 70px;
    margin-bottom: 20px;
  }
  h6 {
    @include fz(25);
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .lead {
    @include fz(18);
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 25px;
  }
  .desc {
    @include fz(18);
    line-height: 31px;
    margin-bottom: 16px;
    &.lightMode {
      color: $text-2;
    }
  }
}

.hero {
  width: 100%;
  max-width: 450px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid $bg-green;
  @include tablet {
    max-width: 540px;
  }
}
